#splash_title {
	width: 100%;
  font-size: 100px;
  color: red;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}

#enter {
  background-image: url("../images/campus.png");
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  width: 99%;
  position: fixed;
  overflow: hidden;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  padding-left: 0.5%;
  padding-right: 0.5%;
}